.venv
.env
data/
/data/*
__pycache__/
*.pyc
.DS_Store        
.ipynb_checkpoints
.vscode/
models/
logs/
results/
*.h5
*.pkl
*.joblib
*.sqlite3
*.db
coverage
backend/__pycache__/
backend/*.pyc
frontend/__pycache__/
frontend/*.pyc
tests/__pycache__/
tests/*.pyc
/frontend/build/
/frontend/node_modules/
/frontend/Logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local

# Editor directories and files
/frontend/.vscode/*
/frontend/!.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?
