.venv
.env
data/
/data/*
__pycache__/
*.pyc
.DS_Store        
.ipynb_checkpoints
.vscode/
models/
logs/
results/
*.h5
*.pkl
*.joblib
*.sqlite3
*.db
coverage
backend/__pycache__/
backend/*.pyc
frontend/__pycache__/
frontend/*.pyc
tests/__pycache__/
tests/*.pyc