
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: backend
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/backend

    command: uvicorn main.app:app --host 0.0.0.0 --port 4000