services:
  terraform:
    image: hashicorp/terraform:latest
    container_name: terraform
    volumes:
      - ./setup:/infr/setup
      - ./prod:/infr/prod
    working_dir: /infr
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_SESSION_TOKEN=${AWS_SESSION_TOKEN}
      - AWS_DEFAULT_REGION=us-east-1
      - TF_WORKSPACE=${TF_WORKSPACE}
